#files and extentions to ignore

#ignora all inside bin
bin/*

#ignore all .lp
*.lp

#ignore output folder
output/*

#ignore output folder
code/output/*.log
code/output/*.out
code/output/*.sol
code/output/*.gr

#ignore temp files
src/*~

#ignore .vscode folder
.vscode/*

#ignore .vs folder
.vs/*

# LaTeX build artifacts
pdfs/Latex/*.aux
pdfs/Latex/*.bbl
pdfs/Latex/*.blg
pdfs/Latex/*.brf
pdfs/Latex/*.fdb_latexmk
pdfs/Latex/*.fls
pdfs/Latex/*.idx
pdfs/Latex/*.ilg
pdfs/Latex/*.ind
pdfs/Latex/*.lof
pdfs/Latex/*.log
pdfs/Latex/*.lot
pdfs/Latex/*.synctex.gz
pdfs/Latex/*.toc
pdfs/Latex/*.pdf
pdfs/Latex/pdflatex*.fls

# latex build output folder
/build/latex/
