--time 400
--display 1
--nodes -1
--heur_rounding 0
--heur_bad_sol 0
--heur_lns 1
--lns_perc 0.75
--lns_order crescente
--lns_time 200
--param_stamp teste_lns_grasp_main.config
--heur_round_freq 1
--heur_round_depth -1
--heur_round_freqofs 0
--heur_grasp 1
--grasp_max_iter 1
--grasp_alpha 0.8
--grasp_local_search 0
--penalty -2